body{
    background: black;
}
.tarjeta{
    background: white;
    width: 500px;
    height: 325px;
    margin: auto;
}
.cabecera{
    display: flex;
}
.titulo{
    width: 200px;
    height: 75px;
}
.logo{
    position: absolute;
    right: 550px;
    top: 25px;
}
img{
    width: 50px;
    height: 50px;
}
.cuerpo{
    display: flex;
}
.boton{
    display: flex;
    justify-content: center;
}